@model IhorsSlaves.Models.ShowPostsOnPages
@foreach(var p in Model.Posts)
{
    <div class="post">
     <h2>@Html.ActionLink(p.PostName, "FullPost", new { PostId = p.PostId })</h2>
        <div class="text">
           @p.Text
            </div>
        <div id="data">
        @p.PostDate
            @Html.ActionLink(p.PostUser, "Manage", "Account")
        </div>
    </div>
}
