<section class="6u">
    <div class="row no-collapse-1">
        <ul class="divided icons 6u">
            <li class="icon icon-twitter"><a href="#"><span class="extra">twitter.com/</span>untitled</a></li>
            <li class="icon icon-facebook"><a href="#"><span class="extra">facebook.com/</span>untitled</a></li>
            <li class="icon icon-dribbble"><a href="#"><span class="extra">dribbble.com/</span>untitled</a></li>
        </ul>
        <ul class="divided icons 6u">
            <li class="icon icon-linkedin"><a href="#"><span class="extra">linkedin.com/</span>untitled</a></li>
            <li class="icon icon-youtube"><a href="#"><span class="extra">youtube.com/</span>untitled</a></li>
            <li class="icon icon-pinterest"><a href="#"><span class="extra">pinterest.com/</span>untitled</a></li>
        </ul>
    </div>
</section>
