@model IhorsSlaves.Models.ShowPostsOnPages
@{
    ViewBag.Title = "Main";
}

@section featured {
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
    </div>
}

<div class="wrapper">
    <div class="container">
        @Html.Partial("_PostPartial")
    </div>
</div>

@Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
